:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --black-2: #000000e6;
  --white: #ffffff;
  --white-2: #ffffffe6;
 
  --font-size-l: 32px;
  --font-size-m: 16px;
 
  --font-family-cormorant_garamond: "Cormorant Garamond", Helvetica;
}
.border-10px-black-2 {
  border: 10px solid var(--black-2);
}

.border-10px-white-2 {
  border: 10px solid var(--white-2);
}
